<h1> My name is <%= @name %> My last name is <%= @last_name %>
my frame colour is <%= @color %>
<% if @adorable %> I am <%= @adorable %>  <% end %> </h1>
<div style='border: 3px dashed blue'>
  <img src='http://bit.ly/1eze8aE'>
 </div>
